.BrandDisConForm{
    .BrandDisConForm_wrapper{
        width: 500px;
        padding: 20px 40px;
        background: #fff;
        border-radius: 15px;
        h2{
            text-align: center;
        }
        .casc{
            display: inline;
        }
    }
}