.login{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e4e9ea;
    .el-input__inner{
        height: 27px;
    }
    .bg_login{
        position: absolute;
        display: flex;
        width: 100%;
        height: 258px;
        top: 50%;
        margin-top: -129px;
        .bg_left{
            position: relative;
            background: linear-gradient(to left,rgb(52, 157, 212), rgb(34, 114, 205) 95%);
            .bg_left_canvas{
                position: absolute;
                right: 0;
                width:450px;
                height:100%;
                background:
                  -webkit-linear-gradient(top,transparent 9px,#3d9cdb 1px),
                  -webkit-linear-gradient(left,transparent 9px,#3d9cdb 1px);
                background-size:10px 10px;
            }
            .bg_picutre{
                position: absolute;
                z-index: 3;
                right: 0;
                width:450px;
                height:100%;
                img{
                    opacity: 0.4;
                    position: absolute;
                    height: auto;
                }
                .img1, .img5{
                    transform:rotate(315deg);
                }
                .img1{
                    width: 40px;
                    bottom:51px;
                    left: 63px;
                }
                .img2{
                    width: 40px;
                    top:28px;
                    left: 130px;
                    transform:rotate(45deg);
                }
                .img3{
                    width: 35px;
                    top:103px;
                    left:187px;
                }
                .img4{
                    width: 50px;
                    top:76px;
                    left:42px;
                }
                .img5{
                    width: 35px;
                    bottom: 55px;
                    left: 147px;
                }
                
            }
        }
        .bg_right{
            position: relative;
            background: linear-gradient(to left, rgb(34, 114, 205),rgb(52, 157, 212) 95%);
            .bg_right_canvas{
                position: absolute;
                left: 0;
                width:450px;
                height:100%;
                background:
                  -webkit-linear-gradient(top,transparent 9px,#3d9cdb 1px),
                  -webkit-linear-gradient(right,transparent 9px,#3d9cdb 1px);
                background-size:10px 10px;
            }
            .bg_picutre{
                position: absolute;
                z-index: 3;
                left: 0;
                width:450px;
                height:100%;
                img{
                    opacity: 0.3;
                    position: absolute;
                    height: auto;
                }
                .img1{
                    width: 80px;
                    top: 41px;
                    right: 130px;
                }
                .img2{
                    transform:rotate(45deg);
                    width: 30px;
                    top: 100px;
                    right: 200px;
                }
                .img3{
                    width: 50px;
                    top: 116px;
                    right:118px;
                }
                .img4{
                    width: 28px;
                    bottom: 37px;
                    right: 68px;
                }
                .img5{
                    transform:rotate(25deg);
                    width: 70px;
                    top: 44px;
                    right: 30px;
                }
                .img6{
                    transform:rotate(270deg);
                    width:40px;
                    bottom: 68px;
                    right: 215px;
                }
            }
        }
        .bg_top{
            position: absolute;
            width: 0;
            height: 0;
            top:0;
            left: 50%;
            margin-left: -477px;
            border-top: 39px solid #e4e9ea;
            border-left: 477px solid transparent;
            border-right: 477px solid transparent;
        }
        .bg_bottom{
            position: absolute;
            width: 0;
            height: 0;
            bottom:0;
            left: 50%;
            margin-left: -477px;
            border-bottom: 39px solid #e4e9ea;
            border-left: 477px solid transparent;
            border-right: 477px solid transparent;
        }
    }
    .bg_login>div{
        flex: 1;
    }
    .login_title{
        width: 100%;
        height: 50px;
        font-size: 23px;
        padding-top: 230px;
        text-align: center;
        color: #0060b9;
    }
    .login_wrapper{
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: -143px;
        left: 50%;
        margin-left: -208px;
        width: 416px;
        height: 287px;
        background: #f4f4f4;
        border: 1px solid #e0e6e8;
        .login_name{
            padding-top: 27px;
            padding-left: 48px;
            color: #555555;
            .el-divider{
                background-color: #6bcf99;
            }
            .title1{
              font-size: 16px;
            }
            .title2{
              font-size: 13px;
              color: #999999;
            }
            
        }
        .login_content{
            padding: 37px 75px 0 75px;
            span{
                font-size: 13px;
                text-decoration: underline;
                color: #999999;
                float: right;
            }
        }
        .login_button{
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 35px;
            .el-button{
                width: 228px;
                height: 33px;
                line-height: 0.5;
                background-color: #6bcf99;
                border-color: #5cb887;
                color: #fff;
            }
        }
    }
}