.shouye_wrapper{
    overflow: hidden;
    .el-header{
        background-color: #242f42;
        color: #fff;
    }
    .el-footer{
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: #B3C0D1;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #6a6868;
    }
    .main_wrpper{
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0;
        bottom: 30px;
        .el-aside{
            width: 800px;
            height: 100%;
            background-color: #324157;
            color: #bfcbd9;
        }
        .el-main {
            overflow-y: scroll;
            background-color: #f0f0f0;
            color: #333;
        }
        .el-main::-webkit-scrollbar{
            display: none;
        }
    }
}
